@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.brand-logo {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem !important;
  // margin-left: 1rem;
}

.card {
  margin: 3rem auto;
  width: 75%;
  text-align: center;
  .title {
    margin: 2rem 0;
    font-size: 2rem;
  }
}

.hand-cursor:hover {
  cursor: pointer;
}
