.profile-body {
  padding: 2rem 5% 0;
  .profile-info {
    margin-bottom: 2rem;
    .profile-info-right {
      margin: auto;
    }
  }
  .profile-title {
    margin: 4rem 0 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .profile-info-right {
    text-align: center;
  }
}
