.post-detail {
  .res-name {
    text-align: left;
  }
  .res-location {
    text-align: right;
  }
  .res-detail {
    text-align: left;
  }
  .res-comment {
    text-align: left;
  }
  .res-comment-delete {
    text-align: right;
  }
  .posted-by {
    text-align: left;
    font-weight: bold;
  }
  .posted-by-icon {
    text-align: right;
  }
}
