.post-detail {
  .res-name {
    text-align: left;
    .res-created-at {
      font-size: 0.75rem !important;
    }
  }
  .res-location,
  .res-detail,
  .res-comment {
    text-align: left;
  }
  .posted-by {
    text-align: left;
    font-weight: bold;
  }
  .posted-by-icon,
  .res-comment-delete {
    text-align: right;
  }
}
